.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 8em;
  background: linear-gradient(
    180deg,
    var(--background-secondary),
    var(--background)
  );
}
