.main {
  background-color: var(--background-secondary);
  padding-inline: var(--inline-padding);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.title {
  font-size: var(--title-size);
  margin-bottom: calc(-0.2 * var(--gap-lg));
}

.project {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.imgs {
  display: flex;
  align-items: center;
  gap: 2em;
}

.img-left {
  width: 45vw;
  border-radius: 12px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo {
  height: 20px
}

.text {
  font-size: var(--body-size);
  line-height: calc(var(--body-size) * 3 / 2);
}

.demo-link {
  color: var(--accent);
}

.links {
  display: flex;
  gap: 1em;
}

.link {
  font-size: var(--body-size-sm);
  color: var(--accent);
}

@media (width <= 425px) {
  .project {
    grid-template-columns: 1fr;
    row-gap: 2em;
  }

  .project:not(.project-backwards) .text-container {
    order: -1;
  }

  .project:not(.project-backwards) .imgs {
    order: 1
  }

  .img-left {
    display: none;
  }

  .project .imgs {
    display: grid;
    grid-template-columns: 1fr;
  }
}